@import '../_colors.scss';

.memo {
  padding: 0.2em 0;
  color: $text-color500;
  letter-spacing: 0.01em;
  cursor: pointer;
  user-select: none;
}

.memoAsap {
  color: $color-danger;
  font-weight: bold;
}
