@import '../_colors.scss';

.memoList {
  :nth-child(n) {
    &::after {
      color: $text-color200;
      content: "•";
      margin: 0 0.4em;
    }
  }
  :last-child {
    &::after {
      content: none;
    }
  }
}
