$color-primary: #40301C;
$color-accent: #F07595;
$color-danger: #F85959;

$color-background: #FCF9F5;
$color-background-dark: #1D1409;

$drop-shadow-color: #222222;

$text-color500: #261E19;
$text-color100: #e7e5e4;
$text-color0: #FFFFFF;
